{% extends "base.html" %}
{% block title %}Glass{% endblock %}
   {% block content %}
    {% for recipe in recipes %}
        <div style="background-color: lightgrey; padding: 50px; margin: 20px; height:125px; width:188px;">
        <h2>{{ recipe.title }}</h2>
        <a href = "/recepie/{{ recipe.id }}">Recepie</a>
        <p style="font-color: salmon"> {{ recipe.body }}</p>
        <img src="{{ url_for('static', filename=recipe.anjas_drawing) }}"  style="width:manual;height:100px;">
    </div>
    {% endfor %}   
{#     <div style="background-color: lightgrey; padding: 50px; margin: 20px; height:125px; width:188px;">
        <h2>Candle holder</h2>
        <a href = "/recepie">Recepie</a>
        <p style="font-color: salmon"> how to make a candle holder out of your glass bottle @home: </p>
        <img src="{{ url_for('static', filename='botlecandle1.png') }}"  style="width:manual;height:100px;">
    </div>
    <div style="background-color: lightgrey; padding: 50px; margin: 20px; height:125px; width:188px">
        <h2>Flower Vase</h2>
        <a href = "/recepie2">Recepie</a>
        <p style="font-color: salmon"> how to make a flower vase out of your glass bottle @home: </p>
        <img src="{{ url_for('static', filename='vase.png') }}"  style="width:manual;height:100px;">
    </div>
    <div style="background-color: lightgrey; padding: 50px; margin: 20px; height:125px; width:188px">
        <h2> Bottle Chandelier</h2>
        <p styles="font-color: salmon"> how to make a  Bottle Chandelier out of your glass bottle @home: </p>
        <img src="{{ url_for('static', filename='lamba.png') }}"  style="width:manual;height:100px;">
    </div> #}
{% endblock %}