{% extends "base.html" %}
{% block title %}What to do with bits&pieces @home?{% endblock %}

 {% block content %}
<div class="row">
    <div class="column1" style="background-color:rgb(242, 232, 232);">
        <center>
            <h1>What to do with the bits and pieces at Home</h1> 
            <img src="{{ url_for('static', filename='faceoutline.png') }}"  style="width:500px;height:600px;">
            <h3><big>?</big></h3>
            </center>
    
    </div>

    <div class="column2" style="background-color:rgb(227, 221, 221);">
  
            <form method="POST" action="/register" class="form">
            <!-- hidden tag for security -->
            {{ registration_form.hidden_tag() }}
            {{ registration_form.name.label() }}
            {{ registration_form.name }}
            <br>
            {{ registration_form.surname.label() }}
            {{ registration_form.surname() }}
            <br>
            {{ registration_form.email.label() }}
            {{ registration_form.email() }}
            <br>
            {{ registration_form.password.label() }}
            {{ registration_form.password() }}
            <br>
            {{ registration_form.confirm_password.label() }}
            {{ registration_form.confirm_password() }}
            <br>
            {{ registration_form.submit(class="fabi")}}

            </form>
    </div>

    <div class="login">
      <form method="POST" action="/login" class="form">
      <!-- hidden tag for security -->
      {{ login_form.hidden_tag() }}
      <br>
      {{ login_form.email.label() }}
      {{ login_form.email() }}
      <br>
      {{ login_form.password.label() }}
      {{ login_form.password() }}
      <br> 
      {{ login_form.remember.label() }}
      {{ login_form.remember() }}
      <br>
      {{ login_form.submit(class="hh")}}
      </form>
    </div>
    {% endblock %}




 
</div>
</head>
</body>
</html>


