{% extends "base.html" %}
  {% block title %}Document{% endblock %} 

{% block content %}
<div style="background-color: lightgrey; padding: 200px; margin: 200px; height:25px; width:588px;">
    <h1 style="color: salmon; font-size:60px; font-family:gotham, thin"> Don't buy plastic! :-) </h1
{% endblock %}