{% extends "base.html" %}

{% block title %} Recepies {% endblock %}
{% block content %}
<style>
body {
  background-color: lightgrey;
}
h3{
    color: grey;
}
h1{
    font: Arial, sans-serif;
    color: salmon;
    position: centre;
    margin: 60px;
    text-align: center;
}
.Ingridients{
    color: black;
    font: Arial;
    margin: 50px;
    padding: 70px;
}
.usage{
    color: black;
    font: Arial;
    margin: 100px;
    padding: 200px;
}
</style>
<h1> {{ recipe.long_name }}</h1>
<h3>{{ recipe.long_description }} </h3>

<div class=Ingridients>
    <h2 style= "font-color: blue; font-family: Gotham">Ingredients</h2>
    <img src="{{ url_for('static', filename=recipe.process_image) }}"  style="width:400px;height:400px;">
    <h3>SUPPLIES:</h3>
    {% for ingredient in ingredients %}
        <h4>{{ ingredient.name }}</h4>
    {% endfor %} 
    
</div>
<div class=usage>
<h2> How to Make {{ recipe.long_name }} </h2>

    {% for instruction in instructions %}
        <h4>{{ instruction.text }}</h4>
    {% endfor %} 

 <img src="{{ url_for('static', filename=recipe.final_image) }}"  style="width:400px;height:400px;">
 </div>
 {% endblock %}



