<body>
<style>
body {
  background-color: lightgrey;
}
h3{
    color: grey;
}
h1{
    font: Arial, sans-serif;
    color: salmon;
    position: centre;
    margin: 60px;
    text-align: center;
}
.Ingridients{
    color: black;
    font: Arial;
    margin: 50px;
    padding: 70px;
}
.usage{
    color: black;
    font: Arial;
    margin: 100px;
    padding: 200px;
}
</style>
<h1> Wine bottles candle holders </h1>
<h3>This project turned out SO well! It’s really quite a quick and easy craft. It doesn’t take long at all to decoupage the bottle, and the project dries quite quickly.</h3>

<div class=Ingridients>
    <h2 style= "font-color: blue; font-family: Gotham">Ingridients</h2>
    <img src="{{ url_for('static', filename='ingridients.jpg') }}"  style="width:400px;height:400px;">
    <h3>SUPPLIES:</h3>
    <h4> wine bottle </h4>
    <h4> tissue paper </h4>
    <h4> mod podge (or white glue thinned with a bit of water)</h4>
    <h4> paintbrush </h4>
  
    
</div>
<div class=usage>
<h2> How to Make a Decoupage Wine Bottle Candle Holder </h2>

<h3>1. Prepare Wine Bottle </h3>
<h4> Remove the label from your wine bottle. Stubborn labels come off easily if you add a 1/4 cup of washing soda to a sink full of hot water. Let the bottles soak for 30 minutes and the labels will slip right off.

Rinse the bottle inside and out, making sure all glue from the label is removed. A scouring pad works well for this.

Set your bottle upside down to drain and dry. </h4>

<h3>2. Cut Tissue Paper into Squares </h3>
<h4> Your squares can be any size. For our rainbow bottle, we used 1 inch squares. For other bottles, the squares were 2 to 3 inches square.

They don’t have to be perfectly square either. Some of ours were rather wonky, and some were even torn into irregular shapes. </h4>

<h3>3.Decoupaging Your Wine Bottle</h3>
<h4>To apply the tissue paper to the bottle, brush some Mod Podge onto the bottle. It’s best to work in small areas so the Mod Podge doesn’t dry before you get to it with the tissue paper.

Press a piece of tissue paper into the Mod Podge, and brush a little more Mod Podge over it, to smooth out any wrinkles, coating the piece of tissue paper completely.

Add another piece of tissue paper making sure it overlaps the previous piece.

Continue to work around your bottle until all of the glass is covered.</h4>

<h3>4.Let your Bottle Dry </h3>

<h3>5. Add Candles </h3>
<h4>To add your candles, you may have to shave a little wax off the bottom of the candle so it fits into the opening of the bottle.

You can do this with a paring knife, shaving it off in little pieces.

Gently push your candle into the bottle, twisting a little to make sure it’s in there snugly.</h4>

 <img src="{{ url_for('static', filename='wc.jpg') }}"  style="width:400px;height:400px;">
 </div>



