<body>
<style>

body {
  background-color: lightgrey;
}
h3{
    color: grey;
}
h1{
    font: gotham, thin;
    color: salmon;
    position: centre;
    margin: 60px;
    text-align: center;
}
.Ingridients{
    color: black;
    font: Gotham;
    margin: 50px;
    padding: 70px;
}
</style>

<h1> DIY Flower Vase </h1>
<h3> Turn Any Glass Bottle Into a DIY Flower Vase
Recyling glass bottles is great, but upcycling them is even better! This fun DIY is a creative way to transform glass bottles of all kinds into beautiful flower vases.</h3>

<div class=Ingridients>
  <h2 style= "font-color: blue; font-family: Gotham">Ingridients</h2>
  <img src="{{ url_for('static', filename='vase.jpg') }}"  style="width:400px;height:400px;">
  <h3> What you’ll need for your DIY flower vase:</h3>
    <h4>Glass bottle, any size</h4>
    <h4>Yarn </h4>
    <h4>Pure acetone </h4>
    <h4>Lighter </h4>
    <h4>Pitcher of cold water</h4>
    <h4>Sandpaper </h4>
    <h4>Painter’s tape </h4>
    <h4>Acrylic paint, any color </h4>
</div>

<div class = usage>
<h2> How to Make a DIY Flower Vase </h2>

<h3> 1. Tie the yarn twice around the glass bottle. </h3>
 
<h3> 2. Cut off the excess and remove the yarn from the bottle. </h3>

<h3> 3. Fill a small bowl with pure acetone, then submerge the yarn in the acetone </h3>

<h3> 4. Remove the yarn from the acetone and place it back around the bottle. </h3>

<h3> 5. Use a lighter to ignite the yarn. </h3>

<h3> 6. Spin the bottle continuously to ensure all of the yarn ignites. </h3>

<h3> 7. Dunk the glass into a pitcher of cold water. </h3>

<h3> 8. Remove the bottle. The top of the glass should fully detach from the base of the bottle. </h3>

<h3> 9. Sand down the rough edges of the glass until smooth. </h3>

<h3> 10. Apply a strip of tape around the bottle, about half an inch from the rim. </h3>

<h3> 11. Paint the rim of the bottle with an acrylic paint of your choice. Remove the tape after the paint has dried. </h3>

<h2> 12. Enjoy your new one-of-a-kind vase! </h2>

 <img src="{{ url_for('static', filename='vazna.jpg') }}"  style="width:400px;height:400px;">



</body>