<body>
<div id="navbar">
    <a href="#Glass">Glass</a>
    <a href="#Plastic">Plastic</a>
</div>
<img src="{{ url_for('static', filename='faceoutline3.png') }}"  style="width:300px;height:auto;">
</body>
